h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

body {
    background: rgb(127,73,171);
    background: linear-gradient(90deg, rgba(127,73,171,1) 0%, rgba(127,73,171,1) 40%, rgba(105,103,187,1) 60%, rgba(105,103,187,1) 100%);
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
}


.rivals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10%;
}

.spaceship img{
    width: 200px;
    height: auto;
    border: solid black;
    border-radius: 50%;
}

.winner {
    font-size: xx-large;
}
/* Alien */
.alien{
    display: flex;
    justify-content: center;

}
.alien img {
    width: 100px; 
    height: auto;
    background: radial-gradient(#e66465, #9198e5);    border-radius: 30%;
    border: solid black;
    }    

/* The flip card container - set the width and height to whatever you want. */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
      
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background: radial-gradient(#ffab28, #9198e5);
    padding-top: 30px;
    border-radius: 50%;
    color: black;
    border: solid black;
}


/* Style the back side */
.flip-card-back {
    align-items: center;
    background-color: dodgerblue;
    color: white;
    border: solid black;
    border-radius: 50%;
    padding-top: 20px;
    transform: rotateY(180deg);
}

/* Pick one */

.pick {
    display: flex;
    font-size: large;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 10px;
}


/* RPS buttons */
button {
    border-radius: 8px;
    border: solid;
    width: 120px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectionButtons {
    
    display: flex;
    justify-content: center;
}

.selection {
    transition: 130ms;  
    margin: 20px;

}

#rock {
    background-image:url('./img/rock.png');
}

#paper {
    background-image:url('./img/paper.png');
}

#scissors {
    background-image:url('./img/scissors.png');
}
.selection:hover {
    transform: scale(1.1);
}

/* Scoreboard */
.displayWinner {
    outline: solid black;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.title {
    display:flex;
    justify-content: center;
}

.points{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


.selectionDisplay, .result {
    text-align: center;
    font-family: Helvetica, sans-serif;
}